@import "tailwindcss";

.container {
    width: 1200px;
    margin: 0 auto;
    
    @media (max-width: 1200px) {
        width: 100%;
    }
}

li:hover div {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}